<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <script src="../../js/jquery.3.2.1.min.js"></script>
    <script src="../../js/bootstrap.bundle.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/holder.js"></script>


    <link rel="stylesheet" href="../../dialog/dialog.css">
    <!--<script src="../../dialog/zepto.min.js"></script>-->
    <script src="../../dialog/dialog.js"></script>
    <style>
        body{
            margin-top: 70px;
            background-color: #b3d7ff;
        }
    </style>
    <script src="../../js/vue.js"></script>
</head>
<body>
    <div class="container-fluid" id="roleinfo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

            <a class="navbar-brand text-center" href="#" >二手物品后台管理</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">主页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-battery-4 text-info">系统监控</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#">sql监控</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">缓存监控</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">系统信息</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">访问日志</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">服务器监控</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">在线用户</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-envelope text-info">消息推送</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                            <a class="fa fa-plus dropdown-item text-info" href="#">写入消息</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-pencil dropdown-item text-warning" href="#">未完成</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-search dropdown-item text-info" href="#">已完成</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-bars text-info">商品详细管理</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="fa fa-plus dropdown-item text-info" href="#">添加</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-pencil dropdown-item text-warning" href="#">修改</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-search dropdown-item text-info" href="#">查询</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-trash dropdown-item text-danger" href="#">删除</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-bars text-info">权限角色管理</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <a class="fa fa-plus dropdown-item text-info" href="#">添加</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-pencil dropdown-item text-warning" href="#">修改</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-search dropdown-item text-info" href="#">查询</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-trash dropdown-item text-danger" href="#">删除</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-bars text-info">用户角色管理</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="fa fa-plus dropdown-item text-info" href="#">添加</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-pencil dropdown-item text-warning" href="#">修改</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-search dropdown-item text-info" href="#">查询</a>
                            <div class="dropdown-divider"></div>
                            <a class="fa fa-trash dropdown-item text-danger" href="#">删除</a>
                        </div>
                    </li>

                </ul>
                <!--全屏-->
                <a href="#" class="nav-link fa fa-arrows-alt" id="full"></a>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </form>


            </div>

            <div class="dropdown mr-5">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="card-img-top" src="holder.js/20x20" alt="Card image cap">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">个人中心</a>
                    <a class="dropdown-item" href="#">修改密码</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出系统</a>
                </div>
            </div>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="row mt-2 mb-2">
            <div class="col-lg-2" id="leftnav">
                <div id="accordion">
                    <div class="card" id="headingOne">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;用户管理
                            </button>
                        </h5>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingTwo">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;商品分类管理
                            </button>
                        </h5>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingThree">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;角色管理
                            </button>
                        </h5>


                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingFour">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;权限管理
                            </button>
                        </h5>

                        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingFive">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;购物车管理
                            </button>
                        </h5>

                        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改</a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingSix">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;二手书管理
                            </button>
                        </h5>

                        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingSeven">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;二手商品管理
                            </button>
                        </h5>

                        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingEight">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;订单管理
                            </button>
                        </h5>

                        <div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingNine">

                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseEight">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;商品订单管理
                            </button>
                        </h5>

                        <div id="collapseNine" class="collapse show" aria-labelledby="headingNine" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-1" id="headingTen">
                        <h5 class="mb-0">
                            <button class="btn btn-block btn-info text-left" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseEight">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;学院信息管理
                            </button>
                        </h5>
                        <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion">
                            <div class="list-group">
                                <a href="#" class="fa fa-plus list-group-item list-group-item-添加 list-group-item-primary">添加</a>
                                <a href="#" class="fa fa-pencil list-group-item list-group-item-添加 list-group-item-secondary">修改 </a>
                                <a href="#" class="fa fa-search list-group-item list-group-item-添加 list-group-item-success">查询</a>
                                <a href="#" class="fa fa-trash list-group-item list-group-item-添加 list-group-item-danger">删除</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <i class="fa fa-user"></i>用户管理
                    </div>
                    <div class="col-lg-4 offset-lg-6 col-md-6 offset-md-4 col-sm-6">
                        <a href="#" class="btn btn-outline-info">查询</a>
                        <a href="#" class="btn btn-outline-info">新增</a>
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-info" href="#">导出</a>
                            <a class="dropdown-item text-info" href="#">导入</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>编号</th>
                                <th>角色名</th>
                                <th>描述</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in r.list" :key="index">
                                <td>{{item.roleId}}</td>
                                <td>{{item.roleNum}}</td>
                                <td>{{item.roleName}}</td>
                                <td>{{item.roleDes}}</td>
                                <td>{{item.roleState}}</td>
                                <td>
                                    <a href="#" class="text-warning" title="修改用户"> <i class="fa fa-pencil"></i></a>
                                    <a @click.prevent="deleteRole(item.roleId)" href="#" class="text-danger" title="删除用户"><i class="fa fa-trash"></i></a>
                                    <a @click.prevent="forbidRole(item.roleId)" href="#" class="text-danger" title="禁用用户"><i class="fa fa-times-circle"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="row">

                    <div class="col-lg-8 offset-lg-2">
                        <!--分页-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li v-if="r.hasPreviousPage"  class="page-item">
                                    <a @click.prevent="previous" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                <li @click="page(n)" v-for="n in r.navigatepageNums" class="page-item"><a class="page-link" href="#">{{n}}</a></li>

                                <li v-if="r.hasNextPage" class="page-item">
                                    <a @click.prevent="next" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

<script>

    let a ={
        code: "1",
        date: "2019-01-10 20:02:07",
        errors: { },
        info: {
            data: {
                endRow: 3,
                hasNextPage: true,
                hasPreviousPage: false,
                isFirstPage: true,
                isLastPage: false,
                list: [
                    {
                        roleCreationTime: 1545048747000,
                        roleDes: "",
                        roleId: "97977401056690233",
                        roleName: "角色1",
                        roleNum: "1",
                        roleState: 0,
                        roleUpdateTime: 1545136853000,
                        shUsers: [ ]
                    },
                    {
                        roleCreationTime: 1545048747000,
                        roleDes: "",
                        roleId: "97977401056690234",
                        roleName: "角色2",
                        roleNum: "2",
                        roleState: 0,
                        roleUpdateTime: 1545048747000,
                        shUsers: [ ]
                    },
                    {
                        roleCreationTime: 1545048747000,
                        roleDes: "",
                        roleId: "97977401056690235",
                        roleName: "角色3",
                        roleNum: "3",
                        roleState: 1,
                        roleUpdateTime: 1545048747000,
                        shUsers: [ ]
                    }
                ],
                navigateFirstPage: 1,
                navigateLastPage: 3,
                navigatePages: 3,
                navigatepageNums: [
                    1,
                    2,
                    3
                ],
                nextPage: 2,
                pageNum: 1,
                pageSize: 3,
                pages: 4,
                prePage: 0,
                size: 3,
                startRow: 1,
                total: 10
            }
        },
        message: "请求成功",
        path: "/role/info"
    }


    let vm =new Vue({
        el:'#roleinfo',
        data:{
            r:{
                endRow: 3,
                hasNextPage: true,
                hasPreviousPage: false,
                isFirstPage: true,
                isLastPage: false,
                list: [
                    {
                        roleCreationTime: 1545048747000,
                        roleDes: "",
                        roleId: "97977401056690233",
                        roleName: "角色1",
                        roleNum: "1",
                        roleState: 0,
                        roleUpdateTime: 1545136853000,
                        shUsers: [ ]
                    },
                    {
                        roleCreationTime: 1545048747000,
                        roleDes: "",
                        roleId: "97977401056690234",
                        roleName: "角色2",
                        roleNum: "2",
                        roleState: 0,
                        roleUpdateTime: 1545048747000,
                        shUsers: [ ]
                    },
                    {
                        roleCreationTime: 1545048747000,
                        roleDes: "",
                        roleId: "97977401056690235",
                        roleName: "角色3",
                        roleNum: "3",
                        roleState: 1,
                        roleUpdateTime: 1545048747000,
                        shUsers: [ ]
                    }
                ],
                navigateFirstPage: 1,
                navigateLastPage: 3,
                navigatePages: 3,
                navigatepageNums: [
                    1,
                    2,
                    3
                ],
                nextPage: 2,
                pageNum: 1,
                pageSize: 3,
                pages: 4,
                prePage: 0,
                size: 3,
                startRow: 1,
                total: 10
            }
        },

        created(){

            axios.baseURL='http://localhost:8080';
            axios.defaults.withCredentials=true;
            axios.get('/role/info/1/4').then(res=>{
                this.r=res.data.info.data;

            }).catch(err=>{

                console.log(err)

            })

        },

        methods:{

            page(n){
                if(n!==this.r.pageNum){
                    let infoDialog = $.dialog({
                        type : 'info',
                        infoText : '加载中…',
                        infoIcon : '../images/icon/loading.gif'
                    });

                    window.setTimeout(function() {
                        infoDialog.dialog.update({
                            autoClose : 1500,
                            infoText : '操作成功',
                            infoIcon : '../images/icon/success.png'
                        });
                    }, 2500);

                }

            },
            previous(){
                if( this.r.hasPreviousPage){
                    this.page(this.r.prePage)
                }
            },
            next(){
                if( this.r.hasNextPage){
                    this.page(this.r.nextPage)
                }
            },
            checkState(userNum,method){
                let b=this.r.list.filter((item,index)=>item.userNum===userNum)[0];
                let infoDialog = $.dialog({
                    type : 'info',
                    infoText : '加载中…',
                    infoIcon : '/images/icon/loading.gif'
                });
                axios.get(`/role/${method}/${b.userId}/`).then(res=>{

                    let message=res.data.message;
                    if(res.data.code==='1'){

                        if(method==='forbid'){
                            b.userState= 0;
                        }else if (method==='delete') {
                            b.userState=-1;
                        }else{
                            b.userState=1;
                        }

                        infoDialog.dialog.update({
                            autoClose : 1500,
                            infoText : message,
                            infoIcon : '/images/icon/success.png'
                        });

                    }else{
                        infoDialog.dialog.update({
                            autoClose : 1500,
                            infoText : message,
                            infoIcon : '/images/icon/fail.png'
                        });
                    }
                }).catch(err=>{
                    infoDialog.dialog.update({
                        autoClose : 1500,
                        infoText : message,
                        infoIcon : '/images/icon/fail.png'
                    });
                })

            },
            forbidRole(userNum){
                this.checkState(userNum,'forbid');
            },
            deleteRole(userNum){
                this.checkState(userNum,'delete');
            }


        }
    })




</script>

</html>